{{page-title "MissingActionFunction"}}

{{outlet}}

<div {{on "click" this.myfunction}}></div>
{{! The following component displays Ember's default welcome message. }}
<WelcomePage />
{{! Feel free to remove this! }}